body {
    background-image: url("bg.jpg");
    overflow: hidden;
    background-size: cover;
    transition: all 0.1s ease 0s;
    background-color: black;
    font-family: Inter !important;
}

footer {
    bottom: 0px;
    width: calc(100% - 10px);
    background-color: rgba(29, 29, 29, 0.867);
    padding: 2px;
    backdrop-filter: blur(10px);
    text-align: center;
    z-index: 101;
    border: 1px solid rgba(157, 157, 157, 0.125);
    margin: 5px;
    border-radius: 5px;
    box-sizing: border-box;
    overflow: auto;
    max-height: 44px;
    position: fixed !important;
}

.window {
    display: none;
    animation: 0.1s ease 0s 1 normal none running fadein;
    border: 1px solid rgba(157, 157, 157, 0.125);
    border-radius: 5px;
    height: fit-content !important;
    width: fit-content !important;
    position: absolute !important;
}

.header {
    height: fit-content;
    background-color: rgba(29, 29, 29, 0.867);
    cursor: move;
    border-radius: 5px 5px 0px 0px;
    overflow: auto;
    backdrop-filter: blur(10px);
    border: none;
    width: 100% !important;
}

.content {
    width: fit-content;
    margin: 0px;
    padding: 0px;
    height: fit-content;
    border-radius: 0px 0px 5px 5px;
}

.content webview {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px, rgba(0, 0, 0, 0.19) 0px 6px 20px 0px;
    width: 100% !important;
    height: 100% !important;
}

.headertext {
    color: white;
    background: none;
    height: 23.5px;
    border: 0px solid black;
    border-radius: 5px;
    font-size: 17.5px;
    margin: 3px 0px 3px 3px;
    transition: all 0.1s ease 0s;
}

.headertext:hover {
    color: white;
    background: rgba(77, 77, 77, 0.565);
    height: 23.5px;
    border: 0px solid black;
    border-radius: 5px;
    font-size: 17.5px;
    margin: 3px 0px 3px 3px;
    transition: all 0.1s ease 0s;
}

.closebutton {
    float: right;
    color: white;
    background: darkred;
    height: 23.5px;
    width: 23.5px;
    border-radius: 5px;
    font-size: 18px;
    margin: 3px;
    transition: all 0.1s ease 0s;
    border-style: groove;
    border-color: darkred;
    border-image: initial;
    border-width: 1px 0px 0px;
}

.closebutton:hover {
    background-color: red;
    transition: all 0.1s ease 0s;
}

.closebutton:active {
    background-color: darkred;
    transition: all 0.1s ease 0s;
}

.menubutton {
    background-color: rgba(45, 45, 45, 0);
    border: 0px solid black;
    color: black;
    float: left;
    background-image: url("");
    height: 32px;
    border-radius: 3px;
    margin: 3px;
    transition: all 0.1s ease 0s;
    width: 32px !important;
    padding: 4px !important;
}

li {
    float: left;
    display: block;
}

* {
    margin: 0px;
    padding: 0px;
    user-select: none;
    outline: none;
}

nav {
    display: inline-block;
}

#span {
    text-align: center;
}

.applist {
    color: white;
    border-radius: 5px 0px 0px;
    padding: 5px;
    box-sizing: border-box;
    background-color: rgba(29, 29, 29, 0.867);
    overflow: auto;
}

.sidebar {
    height: 16.6%;
}

.search {
    bottom: 0px;
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
    border-radius: 2px;
    color: white;
}

.search2 {
    width: 100%;
    box-sizing: border-box;
    padding: 3px;
    color: white;
    border-radius: 2px;
}

.sidebar2 {
    height: 520px;
    width: 605px;
    z-index: 100;
    overflow: auto;
    background: none;
    border-radius: 5px;
    backdrop-filter: blur(10px);
    bottom: 0px;
    margin-bottom: 54px;
    animation: 0.1s ease 0s 1 normal none running slideup;
    margin-left: 5px;
    border: 1px solid rgba(157, 157, 157, 0.125);
    position: fixed !important;
    display: none;
}

.menubutton2 {
    background: none;
    border: 0px solid black;
    font-family: Inter;
    color: white;
    float: left;
    text-align: left;
    font-size: 20px;
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 5px;
}

button {
    padding: 2px;
    outline: none;
}

.notifications {
    height: fit-content;
    width: 300px;
    z-index: 100;
    padding: 5px;
    background-color: rgba(29, 29, 29, 0.867);
    color: white;
    right: 0px;
    bottom: 0px;
    display: none;
    border-radius: 5px;
    backdrop-filter: blur(10px);
    animation: 0.1s ease 0s 1 normal none running slideright;
    margin-bottom: 54px;
    transition: all 0.1s ease 0s;
    overflow: auto;
    border: 1px solid rgba(157, 157, 157, 0.125);
    margin-right: 5px;
    position: fixed !important;
}

#searchbox {
    color: white;
    border-radius: 5px !important;
    background: #1d1d1d;
    border: 1px solid rgba(157, 157, 157, 0.125);
    margin: 5px;
    margin-top: 0;
}

.list li {
    width: 100%;
}

.minimize {
    float: right;
    color: white;
    background: none;
    height: 23.5px;
    width: 23.5px;
    border-radius: 5px;
    font-size: 14px;
    margin: 3px;
    transition: all 0.1s ease 0s;
    border: none;
}

.minimize:hover {
    background-color: red;
    border-width: 1px 0px 0px;
    transition: all 0.1s ease 0s;
}

.minimize:active {
    background-color: darkred;
    transition: all 0.1s ease 0s;
}

.menubuttonminimized {
    color: white;
    float: left;
    font-size: 20px;
    height: 32px;
    width: 32px;
    margin: 3px;
    transition: all 0.1s ease 0s;
    border-radius: 3px;
    background: none;
    border: 1px solid rgba(0, 0, 0, 0);
    padding: 4px !important;
}

.menubuttonminimizing {
    background-color: rgba(157, 157, 157, 0.125);
    border: 1px solid rgba(157, 157, 157, 0.125);
}

.menubutton2:hover {
    background-color: rgba(77, 77, 77, 0.25);
    transition: all 0.1s ease 0s;
}

.menubutton2:active {
    background-color: rgba(109, 109, 109, 0.4);
    cursor: progress;
    transition: all 0.1s ease 0s;
}

.menubutton:hover {
    background-color: rgba(77, 77, 77, 0.25);
    transition: all 0.1s ease 0s;
}

.menubutton:active {
    background-color: rgba(109, 109, 109, 0.4);
    cursor: progress;
    transition: all 0.1s ease 0s;
}

.notification {
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    box-sizing: border-box;
    min-height: 30px;
}

fieldset {
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

#menutogglebutton {
    font-size: 22px;
    color: white;
}

.settingssidebar {
    backdrop-filter: blur(10px);
    background-color: rgba(29, 29, 29, 0.867);
    color: white;
}

.Settings {
    backdrop-filter: blur(10px);
}

button {
    background: lightgray;
    border: 1px solid rgb(118, 118, 118);
    border-radius: 2.5px;
    transition: all 0.1s ease 0s;
}

.settings button {
    padding: 5px;
}

.kaosbutton {
    background: none;
    border: none;
    border-radius: 2.5px;
    transition: all 0.1s ease 0s;
    padding: 10px;
    color: white;
    font-size: 16px;
}

.kaosbutton:hover {
    background: rgba(77, 77, 77, 0.565);
    border: none;
    border-radius: 2.5px;
    transition: all 0.1s ease 0s;
}

.Settings button:hover {
    background: rgb(192, 192, 192);
    border: 1px solid rgb(118, 118, 118);
    border-radius: 2.5px;
    transition: all 0.1s ease 0s;
}

.Settings button:active {
    background: gray;
    border: 1px solid rgb(29, 29, 29);
    border-radius: 2.5px;
    transition: all 0.1s ease 0s;
}

.kaosbutton:active {
    background: rgb(77, 77, 77);
    border: none;
    border-radius: 2.5px;
    transition: all 0.1s ease 0s;
}

.Settings input {
    background: lightgray;
    border: 1px solid rgb(118, 118, 118);
    border-radius: 2.5px;
    transition: all 0.1s ease 0s;
    padding: 5px;
}

input {
    background: lightgray;
    border: 1px solid rgb(118, 118, 118);
    border-radius: 2.5px;
    padding: 2px;
    transition: all 0.1s ease 0s;
}

.Settings input:focus {
    background: white;
    border: 1px solid rgb(118, 118, 118);
    border-radius: 2.5px;
    transition: all 0.1s ease 0s;
    outline: none;
}

.menubuttonminimized:hover {
    background-color: rgba(141, 141, 141, 0.5);
    transition: all 0.1s ease 0s;
}

.menubuttonminimized:active {
    background-color: rgba(109, 109, 109, 0.4);
    transition: all 0.1s ease 0s;
}

.search i {
    color: lightgray;
}

.search button, input {
    border-radius: 2px !important;
}

.search input {
    background-color: lightgray;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideright {
    0% {
        transform: translateX(50%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes slideup {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0%);
    }
}

#errorbox, #errorbox1 {
    z-index: 999;
    height: 100%;
    width: 100%;
    background: rgba(29, 29, 29, 0.867);
    align-items: center;
    justify-content: center;
    display: none;
    animation: 0.1s ease 0s 1 normal none running fadein;
    backdrop-filter: blur(10px);
    position: fixed !important;
}

#welcomescreen {
    z-index: 999;
    height: 100%;
    width: 100%;
    background: rgba(29, 29, 29, 0.867);
    display: none;
    animation: 0.1s ease 0s 1 normal none running fadein;
    backdrop-filter: blur(10px);
    position: fixed !important;
}

#welcomescreen p {
    display: inline-block;
    margin-top: 6px;
    margin-left: 10px;
}

#welcomescreen div {
    position: absolute;
    bottom: 0px;
    padding: 20px;
}

#errormessage {
    text-align: center;
    background-color: rgba(29, 29, 29, 0.867);
    border: 1px solid rgb(45, 45, 45);
    color: white;
    border-radius: 5px;
    padding: 5px;
}

#errormessage button {
    width: 100%;
    height: 30px;
    margin-bottom: 5px;
    background: lightgray;
    border: 1px solid rgb(118, 118, 118);
    border-radius: 2.5px;
    transition: all 0.1s ease 0s;
}

#errormessage button:hover {
    background: gray;
    border: 1px solid rgb(118, 118, 118);
    border-radius: 2.5px;
    transition: all 0.1s ease 0s;
}

#errormessage button:active {
    background: lightgray;
    border: 1px solid rgb(118, 118, 118);
    border-radius: 2.5px;
    transition: all 0.1s ease 0s;
}

.noteinput {
    background: none;
    border: none;
    color: white;
    font-family: inter;
}

.noteinput:focus {
    background: lightgray;
    border: none;
    color: black;
    outline: none;
}

#notessaveprompt1 input {
    background: none;
    border: none;
    color: white;
    font-family: inter;
}

#notessaveprompt1 input:focus {
    background: lightgray;
    border: none;
    color: white;
    font-family: inter;
    outline: none;
}

#notessaveprompt1 select {
    border: none;
    color: white;
    font-family: inter;
    background: none !important;
}

#notessaveprompt1 select:focus {
    border: none;
    color: black;
    font-family: inter;
    outline: none;
    background: lightgray !important;
}

#menutogglebuttonimg {
    height: 22.5px !important;
    width: 22.5px !important;
    margin: 0px !important;
}

#terminalcontent {
    display: flex;
    flex-direction: column-reverse;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 0px;
}

.widgets {
    background: rgba(45, 45, 45, 0.867);
}

.focused {
    z-index: 99 !important;
}

.notificationMessage {
    background-color: rgba(77, 77, 77, 0.25);
    padding: 20px;
    border: 1px solid rgba(157, 157, 157, 0.125);
}

.notificationDate {
    opacity: 0.25;
}

.menubutton2 span {
    margin-top: 10px;
    margin-left: 7.5px;
    display: inline-block;
}

.menubutton2 img {
    float: left;
    aspect-ratio: 1 / 1;
    background: rgba(29, 29, 29, 0.67);
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgba(157, 157, 157, 0.125);
}

.notificationMessage:last-child {
    margin: 0px;
}

#activationProgress {
    border-width: 5px;
    border-style: solid;
    border-color: rgb(255, 255, 255) rgba(243, 243, 243, 0) rgba(243, 243, 243, 0);
    border-image: initial;
    border-radius: 50%;
    animation: 2s linear 0s infinite normal none running spin;
    width: 24px;
    height: 24px;
    display: inline-block;
    float: left;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
